footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 6rem;
    background-color: black;
}

.footer-links {
    display: flex;
    gap: 0.75rem;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ff6f4a;
}